{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Log In{% endblock %}

{% block stylesheets %}
    <style>
        .form-wrapper {
            max-width: 500px;
            margin: auto;
        }
        .btn {
            margin-top: 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="form-wrapper">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-success w-100" type="submit">Login</button>
            </div>
        </form>
        <div class="pt-3 text-center">
            <small class="text-muted">
                Need an account? <a href="{% url 'register:register' %}">Sign Up Now</a>
            </small>
        </div>
    </div>
{% endblock %}
