{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Registration{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'register/css/register.css' %}">
{% endblock %}

{% block content %}
<div class="register-container">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <form method="post" class="register-form">
        {% csrf_token %}
        <fieldset>
            <legend>Create your account here!</legend>
            {{ form|crispy }}
        </fieldset>

        <button type="submit" class="btn-submit">Register</button>
    </form>
</div>
{% endblock %}
