.container{
    display: flex;
    justify-content: center;
}

.card{
    margin: 8px;
    width: 60%;
}

.post-div{
    padding: 5px;
    margin: 15px 0;
    border: 1px solid darkgray;
    border-radius: 10px;
}

.post-div a{
    display: inline;
}

.post-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user-info{
    display: flex;
    flex-direction: row;
}

.post-body a{
    text-decoration: none;
    color: black;
}

.post-edit-icon{
    color: gray;
}

.post-edit-icon:hover{
    color: blue;
    transition: .3s;
}

.post-delete-icon{
    color: gray;
}

.post-delete-icon:hover{
    color: red;
}

.post-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.like-div{
    display: flex;
    flex-direction: row;
}

.likes-number{
    font-weight: bolder;
    display: flex;
    align-items: center;
}