{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}New post{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static "posts/css/post_form.css" %}">
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <fieldset>
            <legend>Create new post</legend>
            {{ form|crispy }}
        </fieldset>
        <button type="submit" class="btn btn-success">Add</button>
    </form>
{% endblock %}

{% block additional_scripts %}
    {{ form.media }}
{% endblock %}